<!-- main template include  -->
{% extends 'admin/master.html' %}
<!-- title include  -->
{% block head %}
<title> All Posts - Admin Dashboard</title>
{% endblock head %}
<!-- main body include -->
{% block main %}
<h1 class="mt-4">ADD Post</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{url_for('get_posts')}}">Post</a></li>
    <li class="breadcrumb-item active">ADD Post</li>
</ol>
<div class="col-12 col-md-9 m-auto py-4">
    <div class="card p-2">
        <div class="card-header py-3 bg-secondary">
            <h3 class="fw-bold text-center text-danger">ADD NEW POST</h3>
        </div>
        <div class="card-body">
            <form action="" id="AddPostForm">
                <div class="py-2">
                    <label for="postTitle" class="form-label">Title</label>
                    <input type="text" name="postTitle" id="postTitle" class="form-control">
                </div>
                <div class="py-2">
                    <label for="isLive" class="form-label">Live server Link</label>
                    <input type="text" name="isLive" id="isLive" class="form-control">
                </div>
                <div class="py-2">
                    <label for="sourceCode" class="form-label">Source Code</label>
                    <input type="text" name="sourceCode" id="sourceCode" class="form-control">
                </div>
                <div class="py-2">
                    <label for="category" class="form-label">Category</label>
                    <select name="category" id="category" class="form-select">
                        <option value="0">Select a Category</option>
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="py-2">
                    <label for="editor" class="form-label">Description</label>
                    <textarea name="postDec" id="editor" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="py-2">
                    <label for="postImage" class="form-label">Features Image</label>
                    <input type="file" name="postDec" id="postDec" class="form-control">
                </div>
        </div>
        <div class="card-footer">
            <div class="py-2">
                <input type="submit" class="btn btn-danger" id="postAdd" value="Add Post">
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
<script>
    ClassicEditor.create(document.querySelector("#editor"))
        .then(editor => instance = editor)
        .catch(error => {
            console.log(error);
        })
</script>
{% endblock footer %}