<!-- Main template extends -->
{% extends 'master.html' %}
<!-- this is heading section  -->
{% block before_head %}
<title>Naimul's Protfolio - Full Stack Developer</title>
{% endblock before_head %}
<!-- this is main block section  -->
{% block main %}
<section id="protfolio">
    <div class="container">
        <div class="wrapProt">
            <div class="protHead">
                <h2>Explore My Previous Works</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills justify-content-center">
                        <li class="nav-tiem">
                            <a href="#all" class="nav-link active" data-bs-toggle="pill">All</a>
                        </li>
                        <li class="nav-tiem">
                            <a href="#front" class="nav-link " data-bs-toggle="pill">Front End</a>
                        </li>
                        <li class="nav-tiem">
                            <a href="#back" class="nav-link" data-bs-toggle="pill">Back End</a>
                        </li>
                        <li class="nav-tiem">
                            <a href="#other" class="nav-link" data-bs-toggle="pill">Others</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content py-4">

                    <!-- all post star -->
                    <div class="tab-pane fade show active " id="all">
                        <div class="row">
                            <!-- protfolio deatils show  -->
                            {% if posts | length >0 %}
                            {% for post in posts %}
                            <div class="col-12 col-md-4 mb-4">
                                <a href="Javascript:void(0)" data-id="{{post.id}}" id="modalBoxShow">
                                    <div class="card">
                                        <img src="/static/uploads/{{post.image}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title">{{post.title}}</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="alert alert-dark">
                                <h6 class="fw-bold text-center">No Post found</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- All post end -->
                    <!-- front end post start -->
                    <div class="tab-pane fade" id="front">
                        <div class="row">
                            <!-- protfolio deatils show  -->
                            {% if frontends | length >0 %}
                            {% for frontend in frontends%}
                            <div class="col-12 col-md-4 mb-4">
                                <a href="Javascript:void(0)" data-id="{{frontend.id}}" id="modalBoxShow">
                                    <div class="card">
                                        <img src="/static/uploads/{{frontend.image}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title">{{frontend.title}}</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="alert alert-dark">
                                <h6 class="fw-bold text-center">No Frontend Post found</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>


                    <!-- front-end post end -->
                    <!-- back-end post start  -->
                    <div class="tab-pane fade" id="back">
                        <div class="row">
                            <!-- protfolio deatils show  -->
                            {% if backends | length >0 %}
                            {% for backend in backends %}
                            <div class="col-12 col-md-4 mb-4">
                                <a href="Javascript:void(0)" data-id="{{backend.id}}" id="modalBoxShow">
                                    <div class="card">
                                        <img src="/static/uploads/{{backend.image}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title">{{backend.title}}</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="alert alert-dark">
                                <h6 class="fw-bold text-center">No Backend Post found</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- back-end post end -->

                    <!-- Others post start  -->

                    <div class="tab-pane fade " id="other">
                        <div class="row">
                            <!-- protfolio deatils show  -->
                            {% if tools | length >0 %}
                            {% for tool in tools %}
                            <div class="col-12 col-md-4 mb-4">
                                <a href="Javascript:void(0)" data-id="{{tool.id}}" id="modalBoxShow">
                                    <div class="card">
                                        <img src="/static/uploads/{{tool.image}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title">{{backend.title}}</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="alert alert-dark">
                                <h6 class="fw-bold text-center">No Other Post found</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- others post end -->
                </div>
                <!-- modal box -->
                <div class="modal" id="postModal">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content p-4">

                        </div>
                    </div>
                </div>

            </div>
            <div>
            </div>
</section>
{% endblock main %}
{% block before_body %}
<script src="/static/js/ajaxUser.js "></script>
{% endblock before_body %}