<!-- Main template extends -->
{% extends 'master.html' %}
<!-- this is heading section  -->
{% block before_head %}
<title>Naimul's Services - Full Stack Developer</title>
{% endblock before_head %}
<!-- this is main block section  -->
{% block main %}
<section id="blog-post">
  <div class="container">
    <div class="work-post">
      <div class="col-md-12">
        <div class="work-content">
          <h2>GET Website & Web Application Development Service</h2>
          <p>
            I'm a professional Web Developer & Programmer, who create Fullstack
            Website, Web Application and REST API using
            <span>Javascript,Laravel & Mysql.</span>
          </p>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-md-3">
                <a href="/contact/" class="hire-btn">Hire Me</a>
              </div>
              <div class="col-md-3">
                <a href="/protfolio/" class="prot-btn">Protfolio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="myService">
      <div class="row">
        <div class="col-12 col-md-4 singleService">
          <div class="serviceLogo"><i class="fa fa-object-group"></i></div>
          <div class="servicetitle">
            <h3>Web Design</h3>
          </div>
          <div class="servicedecs">
            <h4>
              In this service, You will get only design of a website with static
              content. I will use HTML, CSS, Tailwind CSS & Sass to complete Web
              Design project.
            </h4>
          </div>
        </div>
        <div class="col-12 col-md-4 singleService">
          <div class="serviceLogo"><i class="fa fa-code"></i></div>
          <div class="servicetitle">
            <h3>Frontend Development</h3>
          </div>
          <div class="servicedecs">
            <h4>
              I will develop frontend of a webiste in this service. I'll
              integrate Restful API and create custom functions to the client
              side application with JavaScript,Jquery..
            </h4>
          </div>
        </div>
        <div class="col-12 col-md-4 singleService">
          <div class="serviceLogo"><i class="fa fa-server"></i></div>
          <div class="servicetitle">
            <h3>Backend Development</h3>
          </div>
          <div class="servicedecs">
            <h4>
              Create Restful API, custom functions, authentication,
              authorization, verification, increasing application security, API
              optimization all these service will be provided in backend
              development.
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapBlog">
      <h2 class="text-center">What I Do</h2>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="card-blog text-center justify-content-center">
            <img
              src="/static/image/web-design.png"
              class="blog-img"
              alt="..."
            />
            <div class="blog-body">
              <h3 class="blog-title">Web Design</h3>
              <p class="blog-text">
                I know that a strong online presence is essential for attracting
                and converting customers in virtually every industry. But I also
                understand that not every business needs an elaborate website to
                reach their goals – which is why I offer simple, results-driven
                designs.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="card-blog text-center justify-content-center">
            <img
              src="/static/image/web-development.png"
              class="blog-img"
              alt="..."
            />
            <div class="blog-body">
              <h3 class="blog-title">Web Development</h3>
              <p class="blog-text">
                PHP. Mysql . Laravel. HTML5. No matter what language your
                website, application, or custom development project speaks — or
                needs to speak — I can help.I can deliver a highly customized
                and fully integrated web development solution at a competitive
                cost.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card-blog text-center justify-content-center">
            <img src="/static/image/psd.png" class="blog-img" alt="..." />
            <div class="blog-body">
              <h3 class="blog-title">Website Redesign</h3>
              <p class="blog-text">
                When I redesign your website, My primary goal is to improve your
                bottom line. Your new site will get you more traffic, drive more
                leads, and ultimately increase your revenue.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card-blog text-center justify-content-center">
            <img
              src="/static/image/responsive.png"
              class="blog-img"
              alt="..."
            />
            <div class="blog-body">
              <h3 class="blog-title">Responsive Design</h3>
              <p class="blog-text">
                More than 50% of the world’s Internet traffic comes from mobile
                devices. If you want to grow your business, you need a
                responsive website design. With My responsive web design
                services, I am provide your company with a responsive and
                attractive site that generates traffic, leads, and sales..
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card-blog text-center justify-content-center">
            <img
              src="/static/image/landing-page.png"
              class="blog-img"
              alt="..."
            />
            <div class="blog-body">
              <h3 class="blog-title">Landing Page Design</h3>
              <p class="blog-text">
                Your landing pages play a critical role in your marketing and
                advertising efforts. With professional landing page design
                services, you can maximize the impact of these pages. Increase
                your sales, boost your lead quality, and drive your revenue
                upward with custom landing page designs from ME.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card-blog text-center justify-content-center">
            <img src="/static/image/wordpress.png" class="blog-img" alt="..." />
            <div class="blog-body">
              <h3 class="blog-title">WordPress</h3>
              <p class="blog-text">
                Wordpress, Magento, E-Commerce, Prestashop Theme Development &
                Customization. All type of theme and plugin customization is
                included. Get a modern and fresh look now!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
